<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />

    <title>Trip buddy Dashboard</title>
</head>

<body>
    <!-- Nav bar for the app -->
    <nav class="navbar navbar-dark bg-dark">
        <a href="/">
            <h4 class="text-white">Welcome {{user.first_name}}!</h4>
        </a>
        <div class="navbar-right row ">
            <!-- <a class="nav-link text-white" href="/my_list">MY LIST</a> -->
            <a class="btn btn-outline-warning mr-4" href="/logout">Logout</a>
        </div>
    </nav>
    <!-- Start of this page -->
    <div class="container">
        {%block content%}
        <div class="float-right">
            <a href="/trips/new" class="btn btn-info pl-5 pr-5 mt-4 text-white">Create a new trip!</a>
        </div>
        <br/>
        <div class="container mt-4">
            <h4>Your trips:</h4>
            <table class="table table-striped">
                <thead>
                    <th>Distination</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Plan</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    {% for trip in trips %}
                    {% if user.id == trip.created_by.id %}
                    <tr>
                        <td><a href="/trips/{{trip.id}}" class="text-blue">{{trip.dest}}</a></td>
                        <td>{{trip.start_date}}</td>
                        <td>{{trip.end_date}}</td>
                        <td>{{trip.plan}}</td>
                        <td><a href="/delete/{{trip.id}}" class="badge badge-primary text-white">Remove</a> | <a href="/trips/edit/{{trip.id}}" class="badge badge-primary text-white">Edit</a></td>
                    </tr>
                    {% endif %}
                    {% endfor %}

                    {% for trip in user.joined_trips.all %}
                    <tr>
                        <td><a href="/trips/{{trip.id}}" class="text-blue">{{trip.dest}}</a></td>
                        <td>{{trip.start_date}}</td>
                        <td>{{trip.end_date}}</td>
                        <td>{{trip.plan}}</td>
                        <td><a href="/cancel_join/{{trip.id}}" class="badge badge-primary text-white">Cancel</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br/>
        <div class="container mt-4">
            <h4>Other people's trips:</h4>
            <table class="table table-striped">
                <thead>
                    <th>Distination</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Plan</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    {% for trip in trips %}
                    {% if user.id != trip.created_by.id and user not in trip.users_who_join.all %}
                    <tr>
                        <td><a href="/trips/{{trip.id}}" class="text-blue">{{trip.dest}}</a></td>
                        <td>{{trip.start_date}}</td>
                        <td>{{trip.end_date}}</td>
                        <td>{{trip.plan}}</td>
                        <td><a href="/join/{{trip.id}}" class="badge badge-primary text-white">Join</a></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {%endblock%}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</body>

</html>

    <!-- <form action="/create_message" method="POST" class="mt-5">
            {%csrf_token%}
            <div class="form-group">
                <label for="">
                    <h3>Post a Message</h3>
                </label>
                <textarea class="form-control" name="message"> </textarea>
            </div>
            <button type="submit" class="btn btn-primary">Post a Message</button>
        </form> -->